.info__keys {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 29px 0 0;
}

@media screen and (max-width: 768px) {
  .info__keys {
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
  }
}