.about-author__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  padding-top: 27px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .about-author__text {
    padding-top: 9px;
  }
}

@media screen and (max-width: 375px) {
 .about-author__text {
   margin-top: 15px;
 }
}