@media screen and (max-width: 575px) {
  .header__container_is-opened {
    background-color: #1A1B22;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 16px 24px;
    box-sizing: border-box;
    height: 230px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}